#collection .links{
    width: 80%;
    height: 10%;
    background-color: rgba(255, 255, 255, 0.80);
    position: absolute;
    bottom: 20px;
    left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.83);
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    transition: ease-in-out .3s;

}
.img{
    overflow: hidden;
    border-radius: 30px;
    width: 100%;
}
img{
    width: 100%;
    cursor: pointer;
    transition: all linear .3s;
}
#collection .img:hover .links{
    background-color: white;
}
.img:hover img{
    transform: scale(1.02);
}
.slick-slider{
    overflow: hidden;
}