a{
    text-decoration:        none;
}
#banner{
    height: 100vh;
    background-image: url(images/home_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.text{
    position: absolute;
    bottom: 20%;
    left: 4%;
}
.link{
    width: fit-content;
    padding: 17.8px 50.8px;
    background-color: rgba(0, 0, 0, 0.233);
    border-radius: 30px;
    border: 1px solid #fff;
    transition: ease-in-out .3s;
    transform: translate(-40px, 50px);
}
.link:hover{
    background-color: #fff;
    color: black;
}

/* =========== responsive ========= */
@media only screen and (max-width: 576px) {
    h1{
        font-size: 36px;
    }
}