@import "tailwindcss";
@plugin "daisyui"{
    themes: light --default;
}

@utility container{
    margin-inline : auto;
    padding-inline: 2rem;
}

@theme {
    --font-archivo: "Archivo", serif;
    --color-black11 : #111111;
    --color-second : #555555;
  }